BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
AllowShortIfStatementsOnASingleLine: false
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: All
AllowShortLoopsOnASingleLine: false
AlignConsecutiveStyle: Consecutive
InsertBraces: true
ColumnLimit: 120